apiVersion: v1
kind: Secret
metadata:
  name: git-secret
stringData:
  ssh-privatekey: |-
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----
  credentials: |-
    https://username:password@git.mycompany.com
    https://user:pass@github.com
