apiVersion: v1
kind: ConfigMap
metadata:
  name: git-config
data:
  config: |
    [credential]
        helper = store --file=/home/jenkins/.config/git-secret/credentials
    [http "http://git.mycompany.com"]
        sslCAInfo = /home/jenkins/.config/git/myTrustedCA.pem
  myTrustedCA.pem: |-
    -----BEGIN CERTIFICATE-----
    MIIDVzCCAj+gAwIBAgIJAN0sC...
    -----END CERTIFICATE-----
