apiVersion: v1
kind: ConfigMap
metadata:
  name: git-ssh
data:
  config: |-
    Host git.mycompany.com
      StrictHostKeyChecking yes
      IdentityFile /home/jenkins/.config/git-secret/ssh-privatekey
  known_hosts: '[git.mycompany.com]:22 ecdsa-sha2-nistp256 AAAdn7...'
